<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" style="display: block; color: white">
  <div class="container-fluid">
              <span id="myUserDetails" class="navbar-brand ">
              </span>
    <form th:action="@{/logout}" method="post">
      <input type="submit" class="btn btn-link text-white-50" value="Logout"/>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="p-0 col-2">
      <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist"
           aria-orientation="vertical">
        <b class="nav-link active pill" id="v-pills-admin-tab" data-bs-toggle="pill"
           data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin"
           aria-selected="true" onclick="getAdminPage()">Admin
        </b>
        <b class="nav-link pill" id="v-pills-user-tab" data-bs-toggle="pill"
           data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user"
           aria-selected="false" onclick="loadUserTable()">User
        </b>
      </div>
    </div>

    <div class="col-10 section tab-content" id="v-pills-tabContent"
         style="height: 100vh; background: #f5f5f5;">
      <div class="tab-pane fade show active pillContent v-pills-admin-tab" id="v-pills-admin"
           role="tabpanel"
           aria-labelledby="v-pills-admin-tab" tabindex="0">
        <h2>Admin panel</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item active" role="tab">
            <button class="nav-link active taba" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true"
                    onclick="getAdminPage()">
              Users Table
            </button>
          </li>
          <li class="nav-item" role="tab">
            <button class="nav-link taba" id="profile-tab" data-bs-toggle="tab"
                    data-bs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false"
                    onclick="addRolesFromAddNewUser()"
            >New User
            </button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show tabaContent home-tab active" id="home" role="tabpanel"
               aria-labelledby="home-tab">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-header p-3 bg-white border border-top-0">All Users</h5>
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                    <th scope="col">Login</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  <tbody id="tbodyAdmin">

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane fade show border profile-tab" id="profile" role="tabpanel"
               aria-labelledby="profile-tab">
            <div class="card" style="width: 100%;">
              <h5 class="card-header">New user</h5>
              <div class="card-body d-flex justify-content-center text-center">
                <form id="formForNewUser">
                  <div class="form-group">
                    <label for="firstname" class="col-form-label">First Name</label>
                    <input id="firstname" type="text" class="form-control" name="firstName">
                  </div>
                  <div class="form-group mt-4">
                    <label for="lastName" class="col-form-label">Last name</label>
                    <input id="lastName" type="text" class="form-control" name="lastName">
                  </div>
                  <div class="form-group mt-4">
                    <label for="age" class="col-form-label">Age</label>
                    <input id="age" type="number" class="form-control" name="age">
                  </div>
                  <div class="form-group mt-4">
                    <label for="email" class="col-form-label">Email</label>
                    <input id="email" type="email" class="form-control" name="email">
                  </div>
                  <div class="form-group mt-4">
                    <label for="username" class="col-form-label">Login</label>
                    <input id="username" type="text" class="form-control" name="username">
                  </div>
                  <div class="form-group mt-4">
                    <label for="password" class="col-form-label">Password</label>
                    <input id="password" type="password" class="form-control" name="password">
                  </div>
                  <div class="form-group mt-4">
                    <label class="row font-weight-bold justify-content-center"
                           for="rolesForAdd">Role</label>
                    <select multiple class="form-control" id="rolesForAdd">
                    </select>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg mt-3"
                          form="formForNewUser" onclick="newUser()">Add new user
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show pillContent v-pills-user-tab" id="v-pills-user" role="tabpanel"
           aria-labelledby="v-pills-user-tab"
           tabindex="0">
        <h2>About User</h2>
        <div class="card" style="width: 100%;">
          <div class="card-body p-3 bg-white border border-top-0">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Login</th>
                <th>Role</th>
              </tr>
              </thead>
              <tbody id="tbodyUser">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit user</h4>
        </div>
        <div class="modal-body text-center d-flex justify-content-center">
          <form id="formForEditing">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                   id="csrf_ed"/>
            <label for="id_ed" class="col-form-label">Id</label>
            <input id="id_ed" type="text" readonly="readonly" name="editedUserId"
                   class="form-control">
            <div class="form-group mt-4">
              <label for="firstName_ed" class="col-form-label">First Name</label>
              <input id="firstName_ed" type="text" class="form-control" name="firstName">
            </div>
            <div class="form-group mt-4">
              <label for="lastName_ed" class="col-form-label">Last name</label>
              <input id="lastName_ed" type="text" class="form-control" name="lastName">
            </div>
            <div class="form-group mt-4">
              <label for="age_ed" class="col-form-label">Age</label>
              <input id="age_ed" type="number" class="form-control" name="age">
            </div>
            <div class="form-group mt-4">
              <label for="email_ed" class="col-form-label">Email</label>
              <input id="email_ed" type="email" class="form-control" name="email">
            </div>
            <div class="form-group mt-4">
              <label for="username_ed" class="col-form-label">Login</label>
              <input id="username_ed" type="email" class="form-control" name="username">
            </div>
            <div class="form-group mt-4">
              <label for="password_del" class="col-form-label">Password</label>
              <input id="password_del" type="password" class="form-control" name="password">
            </div>
            <div class="form-group mt-4">
              <label class="row font-weight-bold justify-content-center"
                     for="roles_ed">Role</label>
              <select multiple class="form-control" id="roles_ed">
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editCloseBtn"
                  onclick="$('#editModal').modal('hide');">Close
          </button>
          <button type="button" class="btn btn-primary" id="editBtn" onclick="editUser()">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete user</h4>
        </div>
        <div class="modal-body text-center d-flex justify-content-center">
          <form id="formForDeleting">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                   id="csrf_del"/>
            <label for="id_del" class="col-form-label">Id</label>
            <input id="id_del" type="text" readonly="readonly" name="deletedUserId"
                   class="form-control">
            <div class="form-group mt-4">
              <label for="firstName_del" class="col-form-label">First Name</label>
              <input id="firstName_del" type="text" readonly="readonly" class="form-control"
                     name="firstName">
            </div>
            <div class="form-group mt-4">
              <label for="lastName_del" class="col-form-label">Last name</label>
              <input id="lastName_del" type="text" readonly="readonly" class="form-control"
                     name="lastName">
            </div>
            <div class="form-group mt-4">
              <label for="age_del" class="col-form-label">Age</label>
              <input id="age_del" type="number" readonly="readonly" class="form-control" name="age">
            </div>
            <div class="form-group mt-4">
              <label for="email_del" class="col-form-label">Email</label>
              <input id="email_del" type="email" readonly="readonly" class="form-control"
                     name="email">
            </div>
            <div class="form-group mt-4">
              <label for="username_del" class="col-form-label">Login</label>
              <input id="username_del" type="text" readonly="readonly" class="form-control"
                     name="username">
            </div>
            <div class="form-group mt-4">
              <label class="row font-weight-bold justify-content-center"
                     for="roles_del">Role</label>
              <select multiple class="form-control" id="roles_del">
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCloseBtn"
                  onclick="$('#deleteModal').modal('hide');">Close
          </button>
          <button type="submit" class="btn btn-danger" id="deleteBtn" onclick="deleteUser()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
<script src="/static/scripts.js"></script>
</body>
</html>